.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 16px;
  background: var(--color-background-primary);

  @media (--desktop) {
    padding: 100px 163px;

    &.isCarousel {
      padding: 100px 0;
    }
  }

  &.isCarousel {
    .brandCard {
      display: block;
    }

    .brandName {
      display: none;
    }
  }
}

.subtitle {
  color: var(--color-text-secondary);
  width: 100%;
  text-align: center;

  @media (--mobile), (--tablet) {
    font-weight: 500;
  }
}

.title {
  --typography-large-font-weight: 500;

  width: 100%;
  padding: 12px 35px;
  text-align: center;

  @media (--tablet) {
    padding: 12px 22px;
  }

  @media (--desktop) {
    max-width: 1440px;
    color: var(--color-text-primary);
    padding: 12px 0 20px;
  }
}

.button {
  --btn-link-text-decoration: underline;
  --btn-font-weight: 350;
  --btn-line-height: var(--typography-body-regular-line-height);

  text-underline-offset: 8px;
}

.buttonMobile {
  @media (--desktop), (--tablet) {
    display: none !important;
  }
}

.buttonDesktop {
  @media (--mobile) {
    display: none !important;
  }
}

.mobileBrandsWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 5px;
  padding-bottom: 19px;

  @media (--desktop), (--tablet) {
    display: none;
  }
}

.desktopBrandsWrapper {
  margin: 24px 0 0;
}

.marqueeDesktopBrandsWrapper {
  @media (--mobile) {
    display: none !important;
  }
}

.toolbarButton {
  font-weight: 350;
  font-family: Fakt, sans-serif;
  font-size: 16px;
  line-height: 19.2px;
  color: var(--color-text-secondary);
  text-transform: uppercase;
  white-space: nowrap;

  &.active,
  &:hover {
    color: var(--color-text-primary);
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
  }
}

.searchInput {
  max-width: 576px;
  margin: 8px auto 38px;

  @media (--desktop) {
    margin: 20px auto 56px;
  }

  input[type='search']:focus {
    border: none;
    box-shadow: none;
  }
}

.toolbar {
  --btn-size-md-height: initial;
  --btn-size-md-padding: initial;

  border-top: 1px solid var(--color-border-line-primary);
  border-bottom: 1px solid var(--color-border-line-primary);
  padding: 20px 0;
  margin-bottom: 16px;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow-x: auto;

  @media (--mobile) {
    justify-content: flex-start;
  }

  @media (--mobile), (--tablet) {
    gap: 20px;
    margin-bottom: 12px;
  }
}

.divider {
  border-left: 1px solid var(--color-border-line-primary);
  width: 1px;
  height: 20px;
}

.tagsBlock,
.lettersBlocks {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 40px;

  @media (--mobile), (--tablet) {
    gap: 20px;
  }
}

.title.emptyState,
.subtitle.emptyState {
  margin: 80px 0 56px;
}

.brandsListContainer {
  width: 100%;
}

.brandsRow {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 40px;
  padding: 32px 0;

  &:nth-last-child(n + 2) {
    border-bottom: 1px solid var(--color-border-line-primary);
  }

  @media (--desktop) {
    gap: 80px;
    padding: 40px 0;
  }
}

.brandFirstLetter {
  @media (--mobile) {
    --typography-large-font-size: 24px;

    min-width: 30px;
    text-align: center;
  }

  @media (--desktop), (--tablet) {
    margin-top: 14px;
  }
}

.brandsList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 8px;

  @media (--desktop), (--tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
  }
}

.brandCard {
  height: 80px;
  width: 171.5px;
  display: none;

  @media (--desktop), (--tablet) {
    height: 78.48px;
    width: 180px;
    display: block;
  }
}

.brandName {
  font-family: Fakt, sans-serif;
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: 0.07px;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  display: block;

  @media (--desktop), (--tablet) {
    display: none;
  }
}

.brandsGridContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 24px;

  &:not(.asCarousel) {
    max-width: 996px;
    margin: auto;
  }

  @media (--tablet), (--mobile) {
    gap: 0;
  }
}

/* Override react-fast-marquee to fix styles issue  */
:global(div.marquee-container) {
  visibility: visible !important;

  @media (--desktop), (--tablet) {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;

    &:hover div {
      animation-play-state: var(--pause-on-hover);
    }

    &:active div {
      animation-play-state: var(--pause-on-click);
    }
  }
}

:global(.overlay) {
  position: absolute;
  width: 100%;
  height: 100%;

  @mixin gradient {
    background: linear-gradient(to right, var(--gradient-color));
  }

  &::before,
  &::after {
    @include gradient;

    content: '';
    height: 100%;
    position: absolute;
    width: var(--gradient-width);
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }
}

:global(.marquee) {
  flex: 0 0 auto;
  min-width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: scroll var(--duration) linear var(--delay) var(--iteration-count);
  animation-play-state: var(--play);
  animation-delay: var(--delay);
  animation-direction: var(--direction);

  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-100%);
    }
  }
}
