.root {
  background-color: #943935;

  --swiper-scrollbar-drag-color: var(--color-text-primary);

  position: relative;

  @media (--tablet) {
    padding: 20px;
  }

  @media (--mobile) {
    padding: 20px;
  }

  & .heading {
    position: absolute;

    & h2 {
      font-family: var(--typography-display-x-large-desktop-font-family);
      color: var(--color-text-action-primary);
      line-height: 120%;
      margin-bottom: 12px;

      @media (--tablet) {
        margin-bottom: 0;
      }

      @media (--mobile) {
        margin-bottom: 0;
      }
    }

    & h6 {
      font-family: sans-serif;
      line-height: 140%;
      color: var(--color-text-action-primary);
    }
  }

  @media (--desktop) {
    --swiperWrapperPaddingBottom: 86px;
    --titleWrapperPadding: 0 48px 35px 32px;

    padding: 100px 0 100px 48px;
  }
}

.customScrollbar {
  & .img_container {
    position: relative;
  }

  & .main_container {
    margin-top: 87px;

    @media (--tablet), (--mobile) {
      padding-bottom: 40px;
    }
  }

  & .main_container_odd {
    transform: translateY(40px);
  }

  & h1 {
    display: block;
    position: absolute;
    left: 0%;
    bottom: -5px;
    transform: rotate(-90deg);
    transform-origin: 0;
    z-index: 11;
    font-family: var(--typography-display-x-large-desktop-font-family);
    color: var(--color-text-action-primary);
  }

  & .link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    position: absolute;
    left: 24px;
    bottom: 26px;
  }

  & .arrow svg {
    transform: scale(1.3);

    > path {
      color: var(--color-text-action-primary);
    }
  }

  & button svg {
    > path {
      color: var(--color-text-action-primary);
    }
  }

  & h3 {
    font-family: var(--typography-heading-font-family-stack, 'Fakt');
    color: var(--color-text-action-primary);
  }

  & .horizontal_img {
    min-width: calc(30% - 56px);
    height: 453px;
    object-fit: cover;
    object-position: 20%;
    position: relative;
    z-index: -1;
  }
}

.row_root {
  padding: 100px 105px;
  background-color: #004124;

  @media (--tablet) {
    padding: 20px 16px;
  }

  @media (--mobile) {
    padding: 20px 16px;
  }

  & h1 {
    font-family: var(--typography-display-x-large-desktop-font-family);
    margin-bottom: 12px;
    color: var(--color-text-action-primary);
    font-weight: 85;
  }

  & p {
    font-family: var(--typography-heading-font-family-stack, 'Fakt');
    color: var(--color-text-action-primary);
    font-size: 18px;
    font-weight: 350;
    line-height: 22px;
  }

  & .title {
    margin-bottom: 40px;

    @media (--tablet) {
      margin-bottom: 32px;
    }

    @media (--mobile) {
      margin-bottom: 32px;
    }
  }

  & .img_grid_container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    @media (--tablet) {
      gap: 20px;
    }

    @media (--mobile) {
      gap: 20px;
    }
  }

  & .img_container {
    width: calc(50% - 20px);
    position: relative;

    @media (--tablet) {
      width: 100%;
    }

    @media (--mobile) {
      width: 100%;
    }
  }

  & .img_container img {
    width: 100%;
    height: 100%;
    max-height: 300px;
    object-fit: cover;

    @media (--tablet), (--mobile) {
      max-height: 199px;
      min-height: 200px;
    }
  }

  & .content {
    max-width: 235px;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);

    @media (--tablet) {
      right: 2%;
    }

    @media (--mobile) {
      right: 2%;
    }
  }

  & h3 {
    font-family: var(--typography-heading-font-family-stack, 'Fakt');
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    color: var(--color-text-action-primary);
    margin-bottom: 12px;
  }

  & .content button {
    background-color: var(--color-text-action-primary);
    color: black;
    font-family: var(--typography-heading-font-family-stack, 'Fakt');
    font-size: 14px;
    line-height: 14px;
    border-radius: 0;
  }
}
