.root {
  width: 100%;
  margin: 0 auto;

  .RelatedPostsSection {
    margin: 50px 12px 50px 48px;

    .relatedPostsCarouselWrapper {
      position: relative;
      width: 100%;

      img {
        height: 403px;
      }

      & > div > div:first-child {
        padding-left: 0;

        p {
          padding-left: 0;
          font-family: 'Victor Serif Variable';
          font-size: 30px;
          line-height: 120%;
          letter-spacing: 0.1px;
        }
      }

      & > div > div:nth-child(2) {
        & > div:last-child {
          left: 0;
          right: 0;
          width: calc(100% - 48px);
        }
      }
    }

    @media (max-width: 767px) {
      margin-left: 16px;
      margin-right: 0;

      .relatedPostsCarouselWrapper {
        img {
          height: 352px;
        }

        & > div > div:first-child {
          p {
            font-size: 24px;
          }
        }

        & > div > div:nth-child(2) {
          & > div:last-child {
            width: calc(100% - 16px);
          }
        }
      }
    }

    @media (max-width: 360px) {
      .relatedPostsCarouselWrapper {
        img {
          height: auto;
          min-height: 230px;
        }
      }
    }
  }
}
