.root {
  box-sizing: content-box;
  padding: 16px;

  & h1 {
    --typography-medium-font-weight: 85;
    --typography-medium-line-height: 120%;

    padding-bottom: 16px;
  }

  & p {
    --typography-xsmall-font-weight: 350;
    --typography-xsmall-line-height: 140%;
    --typography-xsmall-font-family-stack: 'Fakt';

    padding-bottom: 20px;
    color: var(--color-text-secondary);
  }

  & h6 {
    --typography-body-line-height: 140%;
    --typography-body-letter-spacing: 0.005em;

    padding-bottom: 8px;
  }

  & .options {
    margin-bottom: 20px;
  }

  & .dropdown {
    background-color: var(--color-background-primary);
    font-weight: 350;

    & div {
      & span {
        border-left: 1px solid var(--color-interactive-action-field);
      }
    }
  }

  & label {
    --typography-caption-font-weight: 350;
    --typography-caption-line-height: 140%;

    color: var(--color-text-accent-01);
  }

  & .pay {
    --typography-caption-font-weight: 350;
    --typography-caption-line-height: 140%;

    color: var(--color-text-secondary);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;

    &::after {
      content: '|';
      color: var(--color-border-line-primary);
      padding-left: 4px;
    }

    &:last-child {
      &::after {
        content: '';
      }
    }
  }

  & .payment {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 25.5px;
    gap: 12px;

    & img {
      filter: grayscale(1);
    }
  }

  & .pMsg {
    & textarea {
      --tw-ring-color: var(--color-text-action-primary);

      outline: none;
    }
  }

  & h4 {
    padding-bottom: 7.5px;
  }

  & .bag_button {
    width: 100%;
  }
}

input,
textarea {
  --input-text-font-weight: 350;

  outline: none;
}

.inputDate[type='date'] {
  color: var(--color-text-primary);
  font-weight: 350;
  border: 1px solid var(--color-interactive-action-field, #d9d9d9);
  font-family: var(--typography-body-font-family-stack);
  font-size: var(--typography-body-font-size);
  line-height: var(--typography-body-line-height);
  border-radius: 3px;
  height: 46px;
  width: 100%;
  outline: none;
}

.inputDate[type='date']:focus {
  outline-offset: 0;
  box-shadow: none;
}

.inputDate::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: relative;
  width: 46px;
  height: 46px;
  z-index: 50;
}
