.root {
  background: var(--color-background-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem 0.875rem;
  gap: 10px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tiles {
  gap: 3rem;
}

.tiles:last-child span {
  display: none;

  @media (max-width: 767px) {
    display: block;
    margin-right: 3rem;
  }
}

.message {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: var(--color-text-primary);
}

.desktopTilesWrapper {
  gap: 3rem;

  @media (max-width: 767px) {
    display: none;
  }
}

#mobileTilesWrapper {
  width: 100vw;

  @media (min-width: 768px) {
    display: none !important;
  }
}

/* Override react-fast-marquee to fix styles issue  */
:global(.marquee-container) {
  @media (max-width: 767px) {
    overflow-x: hidden !important;
    display: flex;
    flex-direction: row !important;
    position: relative;
    width: 100%;

    &:hover div {
      animation-play-state: var(--pause-on-hover);
    }

    &:active div {
      animation-play-state: var(--pause-on-click);
    }
  }
}

:global(.overlay) {
  position: absolute;
  width: 100%;
  height: 100%;

  @mixin gradient {
    background: linear-gradient(to right, var(--gradient-color));
  }

  &::before,
  &::after {
    @include gradient;

    content: '';
    height: 100%;
    position: absolute;
    width: var(--gradient-width);
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }
}

:global(.marquee) {
  flex: 0 0 auto;
  min-width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: scroll var(--duration) linear var(--delay) var(--iteration-count);
  animation-play-state: var(--play);
  animation-delay: var(--delay);
  animation-direction: var(--direction);
  gap: 3rem;

  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-100%);
    }
  }
}
