.root {
  background: var(--color-background-primary);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 0 3.5rem;

  @media (max-width: 767px) {
    /* width: 90vw; */
    padding: 0 0 0 1rem;
  }
}

.title {
  font-weight: 500 !important;
  font-size: 25px !important;
  line-height: normal !important;
  color: var(--color-text-primary);

  @media (--mobile) {
    font-size: 20px;
    line-height: 24px;
  }
}

.cards_wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
  margin: auto;

  @media (max-width: 767px) {
    display: none;
    overflow-x: auto;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 278px;
  height: 481px;
}

.card_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;

  p {
    font-weight: 350;
    color: var(--color-text-primary);
  }
}

.carousel_container {
  display: block;

  @media (min-width: 768px) {
    display: none;
  }
}

.card_img {
  width: 100%;
  height: 318px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.showScrollbar {
  overflow-y: auto;
}
