.root {
  background-color: var(--color-background-primary);
  font-family: var(--typography-button-font-family);
  text-align: center;
  color: var(--color-text-primary);
  padding-top: 40px;
  padding-bottom: 40px;
}

.title {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 120%;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: var(--spacing-20px);
}

.list {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
  max-width: 82.5rem;
  margin-inline: auto;
  justify-content: center;
  padding-inline: var(--spacing-16px);

  @media (--desktop) {
    padding-inline: 3.25rem;
  }
}

.listItem {
  font-size: 16px;
  line-height: 19.6px;
  font-weight: 350;
  color: var(--color-text-primary);
  padding: var(--spacing-12px) var(--spacing-24px);
  border: 1px solid #000;
  min-width: max-content;
}
