.root {
  color: #000;
  font-family: var(--typography-heading-font-family-stack, 'Fakt');

  --color-border-line-primary: #747474;
  --swiper-scrollbar-drag-color: #fff;

  padding: 104px 0;

  @media (--tablet), (--mobile) {
    padding: 40px;
  }

  & .customScrollbar {
    @media (--desktop) {
      --swiperWrapperPaddingBottom: 37px;
    }
  }

  & .container {
    width: 100%;
    position: relative;
    max-width: 80rem;
    margin-inline: auto;
  }

  & h1 {
    position: absolute;
    transform: translateY(25%) rotate(270deg);
    transform-origin: 0;
    top: 30%;
    left: 2rem;
    color: #fff;
    z-index: 2;
  }

  @media (--desktop-m) {
    & h1 {
      left: 2.5rem;
    }
  }

  & .carousel_items {
    display: flex;
    gap: 48px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  & .carousel_item {
    flex-grow: 1;
    flex-basis: 0;
  }

  & .img_container {
    position: relative;
    margin-bottom: 16px;
    width: 100%;
    height: 100%;
    min-width: 280px;
    max-width: 280px;
    min-height: 403px;
    max-height: 403px;

    @media (--desktop) {
      min-width: 378px;
      max-width: 378px;
    }
  }

  & .user_img {
    width: 100%;
    height: 100%;
    min-width: 280px;
    max-width: 280px;
    min-height: 403px;
    max-height: 403px;

    @media (--desktop) {
      min-width: 378px;
      max-width: 378px;
    }
  }

  & span {
    position: absolute;
    top: 12px;
    left: 12.5px;
    padding: 6px 12px;
    background-color: #fff;
  }

  & h5 {
    line-height: 120%;
    color: #fff;
    max-width: 90%;
    margin-right: auto;
    padding-bottom: 8px;
  }

  & h6 {
    line-height: 140%;
    color: #fff;
  }

  & .text_separator {
    color: #dfb7b7;
  }

  & .post_date {
    display: flex;
    gap: 12px;
    padding-bottom: 8px;
  }

  & h4 {
    padding-top: 8px;
    line-height: 140%;
    color: #fff;
    border-bottom: 1px solid #fff;
    max-width: fit-content;
  }
}

.scrollBar {
  height: var(--swiper-scrollbar-size, 2px);

  --swiper-scrollbar-sides-offset: 16px;

  width: calc(100% - var(--swiper-scrollbar-sides-offset));
  touch-action: none;
  cursor: pointer;
  margin-top: 10px;
  background: rgba(226, 226, 226, 50%);
  margin-left: 2.5rem;

  --swiper-scrollbar-drag-bg-color: var(--color-interactive-action-primary, #000);

  border-color: var(--color-interactive-action-primary, #000);

  @media (--desktop-m) {
    --swiper-scrollbar-sides-offset: 0px;

    width: 100%;
  }
}

.curatedBlogSwiper {
  :global(.swiper-wrapper) {
    padding-left: 2.5rem;
  }

  @media (--desktop-m) {
    :global(.swiper-wrapper) {
      padding-left: 0;
      justify-content: center;
      margin-left: 3rem;
    }
  }

  :global(.swiper-slide) {
    width: 280px;
  }

  @media (--desktop) {
    :global(.swiper-slide) {
      width: 378px;
    }
  }
}

.scrollBarDrag {
  border: 2px solid #fff;
  margin-top: 1.25rem;
}

@media (--desktop) {
  .scrollBarDrag {
    margin-top: 2rem;
  }
}
