.root {
  background-color: #f9f5f0;
  padding: 100px 120px;

  & h1 {
    margin-bottom: 8px;
    font-size: 30px;
  }

  & h6 {
    margin-bottom: 32px;
    color: #4a4f53;
    font-size: 16px;

    --typography-body-font-weight: 350;

    @media (--tablet), (--mobile) {
      margin-bottom: 24px;
    }
  }

  & .cardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-bottom: 60px;
  }

  & .menuCard {
    background-color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .cardLabel {
      color: #4a4f53;
      margin-bottom: 4px;
      letter-spacing: 2px;
    }

    & .cardTitle {
      margin-bottom: 12px;
      font-family: var(--typography-display-x-large-desktop-font-family);
      font-size: 24px !important;
      line-height: 28.8px !important;
      letter-spacing: 0.1px;
    }

    & .price {
      margin-bottom: 12px;
      font-style: normal;
      font-size: 16px;
      line-height: 140%;
    }

    & .cardDescription {
      color: #4a4f53;
      margin-bottom: 24px;
      font-size: 14px;
      font-style: normal;
      line-height: 140%;
      letter-spacing: 0.005em;

      --typography-body-font-weight: 350;
    }

    & button {
      display: block;
      max-width: fit-content;
      padding: 15.5px 39.5px;
      border-radius: 0;

      & span {
        color: #fff;
        line-height: 14px;
      }

      &:hover span {
        color: #000;
      }
    }
  }

  @media (--mobile), (--tablet) {
    padding: 60px 16px;

    & .cardContainer {
      grid-template-columns: repeat(1, 1fr);
      gap: 24px;

      & .menuCard {
        padding: 32px 20px;
      }
    }
  }

  .disclaimer {
    padding: 0 25%;
    background-color: #f9f5f0;
    text-align: center;

    @media (--tablet), (--mobile) {
      padding: 0;
    }

    & p {
      padding-bottom: 10px;
      color: #4a4f53;
      line-height: 140%;
      font-weight: 350;
    }

    & h6 {
      border-bottom: 1px solid #000;
      max-width: fit-content;
      margin: 0 auto;
      color: black;
      line-height: 140%;
    }
  }
}
