.shareIcons,
.platformOptions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  gap: 12px;
}

.shareIcons {
  .shareTitle {
    font-family: Roboto, oxygen-sans, ubuntu, cantarell, 'Helvetica Neue', sans-serif;
    font-size: var(--typography-label-font-size);
    line-height: var(--typography-label-line-height);
    letter-spacing: var(--typography-label-paragraph-spacing);
  }
}
