.input {
  --password-eye-icon-color: var(--color-text-field-placeholder, #737373);
  --tw-ring-color: var(--color-interactive-action-accent-01, #fff);
}

input[type='password'] {
  --tw-ring-shadow: 0 0 #000;

  outline: none;
}

input[type='text'] {
  padding: 19px 0 0;
}

input[type='password']:focus {
  outline-offset: 0;
  box-shadow: none;

  --input-border-color: var(--color-interactive-action-focus, #dfb7b7);
}

input[type='text']:focus {
  outline-offset: 0;
  box-shadow: none;

  --input-border-color: var(--color-interactive-action-focus, #dfb7b7);
}

button {
  --btn-size-xs-height: 30px;
}

button svg {
  --btn-icon-size: 22px;
  --password-eye-icon-color: var(--color-text-field-placeholder, #737373);
}

.error {
  color: var(--color-state-critical, #d82c0d);
}

.label {
  color: var(--color-text-field-placeholder, #737373);
}
