.root {
  text-align: center;
  margin: 60px 0 100px;

  --typography-subheading-font-size: 12px;

  & h2 {
    margin-bottom: 12px;
    letter-spacing: 2px;
  }

  & h1 {
    margin-bottom: 20px;
  }

  & .imagesContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    flex-wrap: wrap;

    @media (--mobile) {
      gap: 24px;
    }

    & .imageWrapper {
      width: 183px;

      & img {
        width: 183px;
        height: 80px;
      }
    }
  }
}
