:root {
  --color-text-primary: #000;
  --color-text-secondary: #4a4f53;
  --color-text-accent-01: #bdbfc3;
  --color-text-action-primary: #fff;
  --color-text-action-secondary: #000;
  --color-text-action-accent-01: #42526e;
  --color-text-action-link: #000;
  --color-text-action-link-hover: #424242;
  --color-text-field-placeholder: #737373;
  --color-text-field-active: #232936;
  --color-brand-primary-piercing: #fffa6b;
  --color-brand-primary-salon: #dfb7b7;
  --color-brand-secondary-nougot: #dccdb7;
  --color-brand-secondary-ferra: #9b615c;
  --color-brand-secondary-tangerine: #db5b3b;
  --color-brand-secondary-light-brown: #f9f5f0;
  --color-background-primary: #fff;
  --color-background-secondary: #f7f7f7;
  --color-background-accent-01: #2d2d2d;
  --color-background-overlay: rgba(129, 129, 129, 50%);
  --color-background-accent-02: #fffef1;
  --color-state-success: #1eab31;
  --color-state-success-light: #b2e2b9;
  --color-state-processing: #ccdcf5;
  --color-state-critical: #d82c0d;
  --color-state-critical-light: #ffc3b8;
  --color-state-pending: #ff9d2a;
  --color-state-warning: #ffead2;
  --color-state-inactive: #f7f7f7;
  --color-state-discount: #df5641;
  --color-interactive-action-primary: #000;
  --color-interactive-action-primary-hover: #211d1d;
  --color-interactive-action-secondary: #9b615c;
  --color-interactive-action-secondary-hover: rgba(218, 221, 227, 15%);
  --color-interactive-action-accent-01: #fff;
  --color-interactive-action-accent-01-hover: #f4f4f4;
  --color-interactive-action-field: #d9d9d9;
  --color-interactive-action-focus: #dfb7b7;
  --color-border-line-primary: #e2e2e2;
  --color-border-line-seperate-primary: #eceff1;
  --color-border-line-seperate-secondary: #464e5f;
  --color-ecommerce-sale: #db5b3b;
  --color-ecommerce-reviews: #000;
  --color-grayscale-black: #000;
  --color-grayscale-dark-grey: #3f4245;
  --color-grayscale-mid-grey: #919191;
  --color-grayscale-lightgrey: #f1f1f1;
  --color-grayscale-white: #fff;
  --effect-shadow: 0px 2px 6px 0px #00000040;
  --typography-button-font-size: 14px;
  --typography-button-text-decoration: none;
  --typography-button-font-family: fakt;
  --typography-button-font-weight: 500;
  --typography-button-font-style: normal;
  --typography-button-font-stretch: normal;
  --typography-button-letter-spacing: 0;
  --typography-button-line-height: 14px;
  --typography-button-paragraph-indent: 0;
  --typography-button-paragraph-spacing: 0;
  --typography-button-text-case: capitalize;
  --typography-label-font-size: 12px;
  --typography-label-text-decoration: none;
  --typography-label-font-family: fakt;
  --typography-label-font-weight: 500;
  --typography-label-font-style: normal;
  --typography-label-font-stretch: normal;
  --typography-label-letter-spacing: 2px;
  --typography-label-line-height: 14.4px;
  --typography-label-paragraph-indent: 0;
  --typography-label-paragraph-spacing: 0;
  --typography-label-text-case: uppercase;
  --typography-display-x-large-desktop-font-size: 48px;
  --typography-display-x-large-desktop-text-decoration: none;
  --typography-display-x-large-desktop-font-family: victor serif;
  --typography-display-x-large-desktop-font-weight: 400;
  --typography-display-x-large-desktop-font-style: normal;
  --typography-display-x-large-desktop-font-stretch: normal;
  --typography-display-x-large-desktop-letter-spacing: 0.1px;
  --typography-display-x-large-desktop-line-height: 57.6px;
  --typography-display-x-large-desktop-paragraph-indent: 0;
  --typography-display-x-large-desktop-paragraph-spacing: 0;
  --typography-display-x-large-desktop-text-case: none;
  --typography-display-x-large-desktop-italic-font-size: 48px;
  --typography-display-x-large-desktop-italic-text-decoration: none;
  --typography-display-x-large-desktop-italic-font-family: victor serif;
  --typography-display-x-large-desktop-italic-font-weight: 400;
  --typography-display-x-large-desktop-italic-font-style: italic;
  --typography-display-x-large-desktop-italic-font-stretch: normal;
  --typography-display-x-large-desktop-italic-letter-spacing: 0.1px;
  --typography-display-x-large-desktop-italic-line-height: 57.6px;
  --typography-display-x-large-desktop-italic-paragraph-indent: 0;
  --typography-display-x-large-desktop-italic-paragraph-spacing: 0;
  --typography-display-x-large-desktop-italic-text-case: none;
  --typography-display-x-large-mobile-font-size: 35px;
  --typography-display-x-large-mobile-text-decoration: none;
  --typography-display-x-large-mobile-font-family: victor serif;
  --typography-display-x-large-mobile-font-weight: 400;
  --typography-display-x-large-mobile-font-style: normal;
  --typography-display-x-large-mobile-font-stretch: normal;
  --typography-display-x-large-mobile-letter-spacing: 0.1px;
  --typography-display-x-large-mobile-line-height: 42px;
  --typography-display-x-large-mobile-paragraph-indent: 0;
  --typography-display-x-large-mobile-paragraph-spacing: 0;
  --typography-display-x-large-mobile-text-case: none;
  --typography-display-x-large-mobile-italic-font-size: 35px;
  --typography-display-x-large-mobile-italic-text-decoration: none;
  --typography-display-x-large-mobile-italic-font-family: victor serif;
  --typography-display-x-large-mobile-italic-font-weight: 400;
  --typography-display-x-large-mobile-italic-font-style: italic;
  --typography-display-x-large-mobile-italic-font-stretch: normal;
  --typography-display-x-large-mobile-italic-letter-spacing: 0.1px;
  --typography-display-x-large-mobile-italic-line-height: 42px;
  --typography-display-x-large-mobile-italic-paragraph-indent: 0;
  --typography-display-x-large-mobile-italic-paragraph-spacing: 0;
  --typography-display-x-large-mobile-italic-text-case: none;
  --typography-display-large-desktop-font-size: 30px;
  --typography-display-large-desktop-text-decoration: none;
  --typography-display-large-desktop-font-family: victor serif;
  --typography-display-large-desktop-font-weight: 400;
  --typography-display-large-desktop-font-style: normal;
  --typography-display-large-desktop-font-stretch: normal;
  --typography-display-large-desktop-letter-spacing: 0.1px;
  --typography-display-large-desktop-line-height: 36px;
  --typography-display-large-desktop-paragraph-indent: 0;
  --typography-display-large-desktop-paragraph-spacing: 0;
  --typography-display-large-desktop-text-case: none;
  --typography-display-large-mobile-font-size: 24px;
  --typography-display-large-mobile-text-decoration: none;
  --typography-display-large-mobile-font-family: victor serif;
  --typography-display-large-mobile-font-weight: 400;
  --typography-display-large-mobile-font-style: normal;
  --typography-display-large-mobile-font-stretch: normal;
  --typography-display-large-mobile-letter-spacing: 0.1px;
  --typography-display-large-mobile-line-height: 28.8px;
  --typography-display-large-mobile-paragraph-indent: 0;
  --typography-display-large-mobile-paragraph-spacing: 0;
  --typography-display-large-mobile-text-case: none;
  --typography-display-medium-desktop-font-size: 24px;
  --typography-display-medium-desktop-text-decoration: none;
  --typography-display-medium-desktop-font-family: victor serif;
  --typography-display-medium-desktop-font-weight: 400;
  --typography-display-medium-desktop-font-style: normal;
  --typography-display-medium-desktop-font-stretch: normal;
  --typography-display-medium-desktop-letter-spacing: 0.1px;
  --typography-display-medium-desktop-line-height: 28.8px;
  --typography-display-medium-desktop-paragraph-indent: 0;
  --typography-display-medium-desktop-paragraph-spacing: 0;
  --typography-display-medium-desktop-text-case: none;
  --typography-display-medium-mobile-font-size: 20px;
  --typography-display-medium-mobile-text-decoration: none;
  --typography-display-medium-mobile-font-family: victor serif;
  --typography-display-medium-mobile-font-weight: 400;
  --typography-display-medium-mobile-font-style: normal;
  --typography-display-medium-mobile-font-stretch: normal;
  --typography-display-medium-mobile-letter-spacing: 0.1px;
  --typography-display-medium-mobile-line-height: 24px;
  --typography-display-medium-mobile-paragraph-indent: 0;
  --typography-display-medium-mobile-paragraph-spacing: 0;
  --typography-display-medium-mobile-text-case: none;
  --typography-display-small-desktop-font-size: 20px;
  --typography-display-small-desktop-text-decoration: none;
  --typography-display-small-desktop-font-family: victor serif;
  --typography-display-small-desktop-font-weight: 400;
  --typography-display-small-desktop-font-style: normal;
  --typography-display-small-desktop-font-stretch: normal;
  --typography-display-small-desktop-letter-spacing: 0.1px;
  --typography-display-small-desktop-line-height: 24px;
  --typography-display-small-desktop-paragraph-indent: 0;
  --typography-display-small-desktop-paragraph-spacing: 0;
  --typography-display-small-desktop-text-case: none;
  --typography-display-small-mobile-font-size: 18px;
  --typography-display-small-mobile-text-decoration: none;
  --typography-display-small-mobile-font-family: victor serif;
  --typography-display-small-mobile-font-weight: 400;
  --typography-display-small-mobile-font-style: normal;
  --typography-display-small-mobile-font-stretch: normal;
  --typography-display-small-mobile-letter-spacing: 0.1px;
  --typography-display-small-mobile-line-height: 21.6px;
  --typography-display-small-mobile-paragraph-indent: 0;
  --typography-display-small-mobile-paragraph-spacing: 0;
  --typography-display-small-mobile-text-case: none;
  --typography-display-xs-small-desktop-font-size: 16px;
  --typography-display-xs-small-desktop-text-decoration: none;
  --typography-display-xs-small-desktop-font-family: victor serif;
  --typography-display-xs-small-desktop-font-weight: 400;
  --typography-display-xs-small-desktop-font-style: normal;
  --typography-display-xs-small-desktop-font-stretch: normal;
  --typography-display-xs-small-desktop-letter-spacing: 0.1px;
  --typography-display-xs-small-desktop-line-height: 19.2px;
  --typography-display-xs-small-desktop-paragraph-indent: 0;
  --typography-display-xs-small-desktop-paragraph-spacing: 0;
  --typography-display-xs-small-desktop-text-case: none;
  --typography-display-xs-small-mobile-font-size: 14px;
  --typography-display-xs-small-mobile-text-decoration: none;
  --typography-display-xs-small-mobile-font-family: victor serif;
  --typography-display-xs-small-mobile-font-weight: 400;
  --typography-display-xs-small-mobile-font-style: normal;
  --typography-display-xs-small-mobile-font-stretch: normal;
  --typography-display-xs-small-mobile-letter-spacing: 0.1px;
  --typography-display-xs-small-mobile-line-height: 16.8px;
  --typography-display-xs-small-mobile-paragraph-indent: 0;
  --typography-display-xs-small-mobile-paragraph-spacing: 0;
  --typography-display-xs-small-mobile-text-case: none;
  --typography-page-heading-desktop-font-size: 25px;
  --typography-page-heading-desktop-text-decoration: none;
  --typography-page-heading-desktop-font-family: fakt;
  --typography-page-heading-desktop-font-weight: 500;
  --typography-page-heading-desktop-font-style: normal;
  --typography-page-heading-desktop-font-stretch: normal;
  --typography-page-heading-desktop-letter-spacing: 0;
  --typography-page-heading-desktop-line-height: 30px;
  --typography-page-heading-desktop-paragraph-indent: 0;
  --typography-page-heading-desktop-paragraph-spacing: 12px;
  --typography-page-heading-desktop-text-case: none;
  --typography-page-heading-mobile-font-size: 20px;
  --typography-page-heading-mobile-text-decoration: none;
  --typography-page-heading-mobile-font-family: fakt;
  --typography-page-heading-mobile-font-weight: 500;
  --typography-page-heading-mobile-font-style: normal;
  --typography-page-heading-mobile-font-stretch: normal;
  --typography-page-heading-mobile-letter-spacing: 0;
  --typography-page-heading-mobile-line-height: 24px;
  --typography-page-heading-mobile-paragraph-indent: 0;
  --typography-page-heading-mobile-paragraph-spacing: 8px;
  --typography-page-heading-mobile-text-case: none;
  --typography-heading-desktop-font-size: 22px;
  --typography-heading-desktop-text-decoration: none;
  --typography-heading-desktop-font-family: fakt;
  --typography-heading-desktop-font-weight: 500;
  --typography-heading-desktop-font-style: normal;
  --typography-heading-desktop-font-stretch: normal;
  --typography-heading-desktop-letter-spacing: 0;
  --typography-heading-desktop-line-height: 26.4px;
  --typography-heading-desktop-paragraph-indent: 0;
  --typography-heading-desktop-paragraph-spacing: 0;
  --typography-heading-desktop-text-case: none;
  --typography-heading-mobile-font-size: 18px;
  --typography-heading-mobile-text-decoration: none;
  --typography-heading-mobile-font-family: fakt;
  --typography-heading-mobile-font-weight: 500;
  --typography-heading-mobile-font-style: normal;
  --typography-heading-mobile-font-stretch: normal;
  --typography-heading-mobile-letter-spacing: 0;
  --typography-heading-mobile-line-height: 21.6px;
  --typography-heading-mobile-paragraph-indent: 0;
  --typography-heading-mobile-paragraph-spacing: 0;
  --typography-heading-mobile-text-case: none;
  --typography-subheading-large-regular-desktop-font-size: 18px;
  --typography-subheading-large-regular-desktop-text-decoration: none;
  --typography-subheading-large-regular-desktop-font-family: fakt;
  --typography-subheading-large-regular-desktop-font-weight: 400;
  --typography-subheading-large-regular-desktop-font-style: normal;
  --typography-subheading-large-regular-desktop-font-stretch: normal;
  --typography-subheading-large-regular-desktop-letter-spacing: 0;
  --typography-subheading-large-regular-desktop-line-height: 21.6px;
  --typography-subheading-large-regular-desktop-paragraph-indent: 0;
  --typography-subheading-large-regular-desktop-paragraph-spacing: 0;
  --typography-subheading-large-regular-desktop-text-case: none;
  --typography-subheading-large-heavy-desktop-font-size: 20px;
  --typography-subheading-large-heavy-desktop-text-decoration: none;
  --typography-subheading-large-heavy-desktop-font-family: fakt;
  --typography-subheading-large-heavy-desktop-font-weight: 500;
  --typography-subheading-large-heavy-desktop-font-style: normal;
  --typography-subheading-large-heavy-desktop-font-stretch: normal;
  --typography-subheading-large-heavy-desktop-letter-spacing: 0;
  --typography-subheading-large-heavy-desktop-line-height: 24px;
  --typography-subheading-large-heavy-desktop-paragraph-indent: 0;
  --typography-subheading-large-heavy-desktop-paragraph-spacing: 0;
  --typography-subheading-large-heavy-desktop-text-case: none;
  --typography-subheading-large-heavy-font-size: 18px;
  --typography-subheading-large-heavy-text-decoration: none;
  --typography-subheading-large-heavy-font-family: fakt;
  --typography-subheading-large-heavy-font-weight: 500;
  --typography-subheading-large-heavy-font-style: normal;
  --typography-subheading-large-heavy-font-stretch: normal;
  --typography-subheading-large-heavy-letter-spacing: 0;
  --typography-subheading-large-heavy-line-height: 21.6px;
  --typography-subheading-large-heavy-paragraph-indent: 0;
  --typography-subheading-large-heavy-paragraph-spacing: 0;
  --typography-subheading-large-heavy-text-case: none;
  --typography-subheading-regular-desktop-font-size: 16px;
  --typography-subheading-regular-desktop-text-decoration: none;
  --typography-subheading-regular-desktop-font-family: fakt;
  --typography-subheading-regular-desktop-font-weight: 400;
  --typography-subheading-regular-desktop-font-style: normal;
  --typography-subheading-regular-desktop-font-stretch: normal;
  --typography-subheading-regular-desktop-letter-spacing: 0;
  --typography-subheading-regular-desktop-line-height: 19.2px;
  --typography-subheading-regular-desktop-paragraph-indent: 0;
  --typography-subheading-regular-desktop-paragraph-spacing: 0;
  --typography-subheading-regular-desktop-text-case: none;
  --typography-subheading-regular-mobile-font-size: 14px;
  --typography-subheading-regular-mobile-text-decoration: none;
  --typography-subheading-regular-mobile-font-family: fakt;
  --typography-subheading-regular-mobile-font-weight: 400;
  --typography-subheading-regular-mobile-font-style: normal;
  --typography-subheading-regular-mobile-font-stretch: normal;
  --typography-subheading-regular-mobile-letter-spacing: 0;
  --typography-subheading-regular-mobile-line-height: 16.8px;
  --typography-subheading-regular-mobile-paragraph-indent: 0;
  --typography-subheading-regular-mobile-paragraph-spacing: 0;
  --typography-subheading-regular-mobile-text-case: none;
  --typography-subheading-heavy-desktop-font-size: 16px;
  --typography-subheading-heavy-desktop-text-decoration: none;
  --typography-subheading-heavy-desktop-font-family: fakt;
  --typography-subheading-heavy-desktop-font-weight: 500;
  --typography-subheading-heavy-desktop-font-style: normal;
  --typography-subheading-heavy-desktop-font-stretch: normal;
  --typography-subheading-heavy-desktop-letter-spacing: 0;
  --typography-subheading-heavy-desktop-line-height: 19.2px;
  --typography-subheading-heavy-desktop-paragraph-indent: 0;
  --typography-subheading-heavy-desktop-paragraph-spacing: 0;
  --typography-subheading-heavy-desktop-text-case: none;
  --typography-subheading-heavy-mobile-font-size: 14px;
  --typography-subheading-heavy-mobile-text-decoration: none;
  --typography-subheading-heavy-mobile-font-family: fakt;
  --typography-subheading-heavy-mobile-font-weight: 500;
  --typography-subheading-heavy-mobile-font-style: normal;
  --typography-subheading-heavy-mobile-font-stretch: normal;
  --typography-subheading-heavy-mobile-letter-spacing: 0;
  --typography-subheading-heavy-mobile-line-height: 16.8px;
  --typography-subheading-heavy-mobile-paragraph-indent: 0;
  --typography-subheading-heavy-mobile-paragraph-spacing: 0;
  --typography-subheading-heavy-mobile-text-case: none;
  --typography-body-large-regular-font-size: 16px;
  --typography-body-large-regular-text-decoration: none;
  --typography-body-large-regular-font-family: fakt;
  --typography-body-large-regular-font-weight: 400;
  --typography-body-large-regular-font-style: normal;
  --typography-body-large-regular-font-stretch: normal;
  --typography-body-large-regular-letter-spacing: 0;
  --typography-body-large-regular-line-height: 22.4px;
  --typography-body-large-regular-paragraph-indent: 0;
  --typography-body-large-regular-paragraph-spacing: 4px;
  --typography-body-large-regular-text-case: none;
  --typography-body-large-medium-font-size: 16px;
  --typography-body-large-medium-text-decoration: none;
  --typography-body-large-medium-font-family: fakt;
  --typography-body-large-medium-font-weight: 400;
  --typography-body-large-medium-font-style: normal;
  --typography-body-large-medium-font-stretch: normal;
  --typography-body-large-medium-letter-spacing: 0;
  --typography-body-large-medium-line-height: 22.4px;
  --typography-body-large-medium-paragraph-indent: 0;
  --typography-body-large-medium-paragraph-spacing: 4px;
  --typography-body-large-medium-text-case: none;
  --typography-body-large-bold-font-size: 16px;
  --typography-body-large-bold-text-decoration: none;
  --typography-body-large-bold-font-family: fakt;
  --typography-body-large-bold-font-weight: 500;
  --typography-body-large-bold-font-style: normal;
  --typography-body-large-bold-font-stretch: normal;
  --typography-body-large-bold-letter-spacing: 0;
  --typography-body-large-bold-line-height: 22.4px;
  --typography-body-large-bold-paragraph-indent: 0;
  --typography-body-large-bold-paragraph-spacing: 4px;
  --typography-body-large-bold-text-case: none;
  --typography-body-regular-font-size: 14px;
  --typography-body-regular-text-decoration: none;
  --typography-body-regular-font-family: fakt;
  --typography-body-regular-font-weight: 400;
  --typography-body-regular-font-style: normal;
  --typography-body-regular-font-stretch: normal;
  --typography-body-regular-letter-spacing: 0.07px;
  --typography-body-regular-line-height: 19.6px;
  --typography-body-regular-paragraph-indent: 0;
  --typography-body-regular-paragraph-spacing: 4px;
  --typography-body-regular-text-case: none;
  --typography-body-regular-italic-font-size: 14px;
  --typography-body-regular-italic-text-decoration: none;
  --typography-body-regular-italic-font-family: fakt;
  --typography-body-regular-italic-font-weight: 400;
  --typography-body-regular-italic-font-style: italic;
  --typography-body-regular-italic-font-stretch: normal;
  --typography-body-regular-italic-letter-spacing: 0.07px;
  --typography-body-regular-italic-line-height: 16.8px;
  --typography-body-regular-italic-paragraph-indent: 0;
  --typography-body-regular-italic-paragraph-spacing: 0;
  --typography-body-regular-italic-text-case: none;
  --typography-body-medium-font-size: 14px;
  --typography-body-medium-text-decoration: none;
  --typography-body-medium-font-family: fakt;
  --typography-body-medium-font-weight: 400;
  --typography-body-medium-font-style: normal;
  --typography-body-medium-font-stretch: normal;
  --typography-body-medium-letter-spacing: 0.07px;
  --typography-body-medium-line-height: 19.6px;
  --typography-body-medium-paragraph-indent: 0;
  --typography-body-medium-paragraph-spacing: 4px;
  --typography-body-medium-text-case: none;
  --typography-body-medium-strikethrough-font-size: 14px;
  --typography-body-medium-strikethrough-text-decoration: line-through;
  --typography-body-medium-strikethrough-font-family: fakt;
  --typography-body-medium-strikethrough-font-weight: 400;
  --typography-body-medium-strikethrough-font-style: normal;
  --typography-body-medium-strikethrough-font-stretch: normal;
  --typography-body-medium-strikethrough-letter-spacing: 0.07px;
  --typography-body-medium-strikethrough-line-height: 16.8px;
  --typography-body-medium-strikethrough-paragraph-indent: 0;
  --typography-body-medium-strikethrough-paragraph-spacing: 0;
  --typography-body-medium-strikethrough-text-case: none;
  --typography-body-bold-font-size: 14px;
  --typography-body-bold-text-decoration: none;
  --typography-body-bold-font-family: fakt;
  --typography-body-bold-font-weight: 500;
  --typography-body-bold-font-style: normal;
  --typography-body-bold-font-stretch: normal;
  --typography-body-bold-letter-spacing: 0.07px;
  --typography-body-bold-line-height: 19.6px;
  --typography-body-bold-paragraph-indent: 0;
  --typography-body-bold-paragraph-spacing: 4px;
  --typography-body-bold-text-case: none;
  --typography-body-caption-font-size: 12px;
  --typography-body-caption-text-decoration: none;
  --typography-body-caption-font-family: fakt;
  --typography-body-caption-font-weight: 400;
  --typography-body-caption-font-style: normal;
  --typography-body-caption-font-stretch: normal;
  --typography-body-caption-letter-spacing: 0;
  --typography-body-caption-line-height: 16.8px;
  --typography-body-caption-paragraph-indent: 0;
  --typography-body-caption-paragraph-spacing: 0;
  --typography-body-caption-text-case: none;
  --typography-body-caption-italic-font-size: 12px;
  --typography-body-caption-italic-text-decoration: none;
  --typography-body-caption-italic-font-family: fakt;
  --typography-body-caption-italic-font-weight: 400;
  --typography-body-caption-italic-font-style: italic;
  --typography-body-caption-italic-font-stretch: normal;
  --typography-body-caption-italic-letter-spacing: 0;
  --typography-body-caption-italic-line-height: 16.8px;
  --typography-body-caption-italic-paragraph-indent: 0;
  --typography-body-caption-italic-paragraph-spacing: 0;
  --typography-body-caption-italic-text-case: none;
  --typography-body-caption-heavy-font-size: 12px;
  --typography-body-caption-heavy-text-decoration: none;
  --typography-body-caption-heavy-font-family: fakt;
  --typography-body-caption-heavy-font-weight: 500;
  --typography-body-caption-heavy-font-style: normal;
  --typography-body-caption-heavy-font-stretch: normal;
  --typography-body-caption-heavy-letter-spacing: 0;
  --typography-body-caption-heavy-line-height: 16.8px;
  --typography-body-caption-heavy-paragraph-indent: 0;
  --typography-body-caption-heavy-paragraph-spacing: 0;
  --typography-body-caption-heavy-text-case: none;
  --typography-email-page-heading-font-size: 26px;
  --typography-email-page-heading-text-decoration: none;
  --typography-email-page-heading-font-family: arial;
  --typography-email-page-heading-font-weight: 400;
  --typography-email-page-heading-font-style: normal;
  --typography-email-page-heading-font-stretch: normal;
  --typography-email-page-heading-letter-spacing: 0;
  --typography-email-page-heading-line-height: 31.2px;
  --typography-email-page-heading-paragraph-indent: 0;
  --typography-email-page-heading-paragraph-spacing: 0;
  --typography-email-page-heading-text-case: none;
  --typography-email-heading-font-size: 20px;
  --typography-email-heading-text-decoration: none;
  --typography-email-heading-font-family: arial;
  --typography-email-heading-font-weight: 400;
  --typography-email-heading-font-style: normal;
  --typography-email-heading-font-stretch: normal;
  --typography-email-heading-letter-spacing: 0;
  --typography-email-heading-line-height: 24px;
  --typography-email-heading-paragraph-indent: 0;
  --typography-email-heading-paragraph-spacing: 0;
  --typography-email-heading-text-case: none;
  --typography-email-caption-font-size: 12px;
  --typography-email-caption-text-decoration: none;
  --typography-email-caption-font-family: arial;
  --typography-email-caption-font-weight: 400;
  --typography-email-caption-font-style: normal;
  --typography-email-caption-font-stretch: normal;
  --typography-email-caption-letter-spacing: 0;
  --typography-email-caption-line-height: 14.4px;
  --typography-email-caption-paragraph-indent: 0;
  --typography-email-caption-paragraph-spacing: 0;
  --typography-email-caption-text-case: none;
  --typography-email-label-font-size: 12px;
  --typography-email-label-text-decoration: none;
  --typography-email-label-font-family: arial;
  --typography-email-label-font-weight: 700;
  --typography-email-label-font-style: normal;
  --typography-email-label-font-stretch: normal;
  --typography-email-label-letter-spacing: 2px;
  --typography-email-label-line-height: 14.4px;
  --typography-email-label-paragraph-indent: 0;
  --typography-email-label-paragraph-spacing: 0;
  --typography-email-label-text-case: uppercase;
  --typography-email-button-font-size: 14px;
  --typography-email-button-text-decoration: none;
  --typography-email-button-font-family: arial;
  --typography-email-button-font-weight: 700;
  --typography-email-button-font-style: normal;
  --typography-email-button-font-stretch: normal;
  --typography-email-button-letter-spacing: 0;
  --typography-email-button-line-height: 14px;
  --typography-email-button-paragraph-indent: 0;
  --typography-email-button-paragraph-spacing: 0;
  --typography-email-button-text-case: capitalize;
  --typography-email-subheading-regular-font-size: 16px;
  --typography-email-subheading-regular-text-decoration: none;
  --typography-email-subheading-regular-font-family: arial;
  --typography-email-subheading-regular-font-weight: 400;
  --typography-email-subheading-regular-font-style: normal;
  --typography-email-subheading-regular-font-stretch: normal;
  --typography-email-subheading-regular-letter-spacing: 0;
  --typography-email-subheading-regular-line-height: 19.2px;
  --typography-email-subheading-regular-paragraph-indent: 0;
  --typography-email-subheading-regular-paragraph-spacing: 0;
  --typography-email-subheading-regular-text-case: none;
  --typography-email-subheading-heavy-font-size: 16px;
  --typography-email-subheading-heavy-text-decoration: none;
  --typography-email-subheading-heavy-font-family: arial;
  --typography-email-subheading-heavy-font-weight: 700;
  --typography-email-subheading-heavy-font-style: normal;
  --typography-email-subheading-heavy-font-stretch: normal;
  --typography-email-subheading-heavy-letter-spacing: 0;
  --typography-email-subheading-heavy-line-height: 19.2px;
  --typography-email-subheading-heavy-paragraph-indent: 0;
  --typography-email-subheading-heavy-paragraph-spacing: 0;
  --typography-email-subheading-heavy-text-case: none;
  --typography-email-body-regular-font-size: 14px;
  --typography-email-body-regular-text-decoration: none;
  --typography-email-body-regular-font-family: arial;
  --typography-email-body-regular-font-weight: 400;
  --typography-email-body-regular-font-style: normal;
  --typography-email-body-regular-font-stretch: normal;
  --typography-email-body-regular-letter-spacing: 0.07px;
  --typography-email-body-regular-line-height: 16.8px;
  --typography-email-body-regular-paragraph-indent: 0;
  --typography-email-body-regular-paragraph-spacing: 0;
  --typography-email-body-regular-text-case: none;
  --typography-email-body-heavy-font-size: 14px;
  --typography-email-body-heavy-text-decoration: none;
  --typography-email-body-heavy-font-family: arial;
  --typography-email-body-heavy-font-weight: 700;
  --typography-email-body-heavy-font-style: normal;
  --typography-email-body-heavy-font-stretch: normal;
  --typography-email-body-heavy-letter-spacing: 0.07px;
  --typography-email-body-heavy-line-height: 16.8px;
  --typography-email-body-heavy-paragraph-indent: 0;
  --typography-email-body-heavy-paragraph-spacing: 0;
  --typography-email-body-heavy-text-case: none;
}
