.container {
  --tabs-nav-item-padding: 16px 4px;

  margin: 100px 105px;

  @media (--tablet) {
    margin: 100px 0;
  }

  @media (--mobile) {
    margin: 60px 0;
  }

  @media (--tablet), (--mobile) {
    --typography-large-font-size: 20px;
    --typography-large-line-height: 24px;
  }
}

.tabWrapper {
  .tabsListWrap {
    width: 100%;
  }

  .tabList {
    @media (--tablet) {
      margin: 0 32px;
    }

    @media (--mobile) {
      margin: 0 16px;
    }

    &::before {
      height: 3px;
    }
  }

  .tabTitle {
    width: 50%;
  }

  .tabTitleActive {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      height: 3px;
      width: 100%;
      bottom: -1px;
      background: var(--color-interactive-action-primary);
    }

    .title {
      color: var(--color-text-primary, #000);
    }
  }

  .tab {
    padding: 0;
  }

  .title {
    font-weight: var(--typography-heading-desktop-font-weight);
    color: var(--color-text-field-placeholder, #737373);
  }
}

.carousel {
  & > div > div:last-child {
    left: 0;
    width: 100%;

    @media (--tablet) {
      margin: 0 32px;
      width: calc(100% - 64px);
    }

    @media (--mobile) {
      margin: 0 16px;
      width: calc(100% - 32px);
    }
  }
}

.serviceBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 48px;
  gap: 20px;

  @media (--tablet), (--mobile) {
    padding-top: 24px;
    gap: 16px;
  }

  .serviceDesc {
    color: var(--color-text-secondary, #4a4f53);
    margin: 20px 0;
    font-weight: 350;

    @media (--tablet), (--mobile) {
      margin: 16px 0;
    }
  }

  .text {
    font-weight: 350;
    white-space: nowrap;

    .additionalText {
      margin: 0 4px;
    }
  }

  .textTitle {
    white-space: nowrap;
  }

  .serviceButton {
    border: 1px solid var(--color-interactive-action-primary, #000);
    border-radius: 0;

    span {
      text-transform: capitalize;
      font-weight: 500;
    }
  }
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;

  &:nth-last-child(n + 2) {
    margin-bottom: 4px;
  }
}
