.root {
  position: relative;
}

.title {
  --typography-subheading-font-size: var(--typography-subheading-heavy-mobile-font-size);
  --typography-subheading-line-height: var(--typography-subheading-heavy-mobile-line-height);

  padding: 16px 0 8px;

  @media (--desktop) {
    --typography-subheading-font-size: var(--typography-subheading-large-heavy-font-size);
    --typography-subheading-line-height: var(--typography-subheading-large-heavy-line-height);
  }
}

.authorAndDate {
  --typography-body-font-weight: 350;

  display: inline-flex;
  align-items: center;
  gap: 12px;
}

.excerpt {
  --typography-body-font-weight: 350;

  color: var(--color-text-secondary);
  padding: 6px 0;
}

.button {
  --btn-link-text-decoration: underline;
  --btn-font-weight: 350;
  --btn-line-height: var(--typography-body-regular-line-height);
  --btn-link-color: var(--color-text-secondary);
  --btn-text-transform: none;

  text-decoration-color: var(--color-text-secondary);
  text-underline-offset: 5px;
}

.tag {
  --typography-caption-font-weight: 350;

  padding: 6px 12px;
  background-color: var(--color-background-primary);
  position: absolute;
  top: 12px;
  left: 12.5px;
}
