.root {
}

.imageTilesWrapper img {
  width: 100%;
}

.imageTilesContainer {
  display: grid;
  gap: 24px;
  margin: 24px 0;
  padding: 0 3rem;
  grid-template-columns: auto auto;

  @media (--mobile) {
    gap: 12px;
    margin: 12px 0;
    padding: 0 1rem;
  }

  .fullTile {
    grid-column: span 2 / span 2;
  }
}
