.tilesContainer {
  display: grid;
  grid-gap: 1rem;
}

.root {
  display: grid;

  @media (--mobile) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.tileContent {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.descriptionText {
  --typography-heading-font-size: 20px;
  --typography-heading-line-height: 24px;

  margin: auto 0 0 !important;
}

.container {
  display: grid;
  margin-top: 32px;
  gap: 16px;
  grid-template-columns: repeat(1, 1fr);

  @media (--desktop) {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.tile {
  padding: 32px 24px;
  display: flex;
  align-items: center;
  gap: 24px;
  background-color: var(--color-background-primary);

  @media (--desktop) {
    padding: 40px;
    min-height: 160px;
    display: flex;
    gap: 40px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

.imageContainer {
  width: 24px;

  @media (--desktop) {
    width: 40px;
  }
}

.contentContainer {
  padding: 40px 16px;

  @media (--desktop) {
    padding: 80px 105px;
    z-index: 10;
  }
}
