.root {
  --typography-heading-font-size: 18px;
  --typography-large-font-weight: 700;

  background-color: #f9f5f0;
  padding: 100px 120px;

  & h1 {
    margin-bottom: 48px;
    text-align: center;

    @media (--mobile) {
      margin-bottom: 32px;
    }
  }

  & .logo {
    max-width: 216px;
    margin: 0 auto 16px;
  }

  & .locationsWraper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 12px;
    margin-bottom: 20px;

    @media (--tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (--mobile) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 8px;
      margin-bottom: 16px;
    }
  }

  @media (--mobile) {
    padding: 60px 16px;
  }

  & .button {
    @media (--mobile) {
      width: calc(100% - 8px);
      margin-right: 8px;
    }
  }
}
