.root {
  background-color: var(--color-background-primary);
  padding: 16px 0;

  @media (--desktop) {
    padding: 20px 0 31px 20px;
  }

  :global(.swiper-slide) {
    width: auto;
  }
}

.customScrollbar {
  --swiperWrapperPaddingBottom: 20px;
  --swiper-scrollbar-size: 1px;
  --swiper-scrollbar-drag-color: var(--color-border-line-primary);
  --swiper-scrollbar-drag-height: 1px;

  @media (--desktop) {
    --swiperWrapperPaddingBottom: 44px;
  }
}

.button {
  --btn-font-size: var(--typography-body-large-regular-font-size);
  --btn-line-height: var(--typography-body-large-regular-line-height);
  --btn-font-weight: 350;
  --btn-size-md-padding: 0 24px;

  width: auto;
}
