.container {
  display: flex;
  gap: 0;
  flex-direction: column;
  margin: 0 1rem;
}

@media screen and (min-width: 768px) {
  .container {
    gap: 5rem;
    flex-direction: row;
    margin: 0 48px 0 25px;
  }
}
